[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"e1839a8" = {editable = true, path = "."}
pylint = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.7"
